.colorPrincipal{
    background-color: #ffffff;
    color: black;
}


.colorSecundario{
    background-color: #f8f8f8;
    background-color: #f7f9fb;
}

.seleccionado{
    color: red
}

.bordeSeleccionado{
    border-bottom:2px solid #76c4f5 
}