.colorPrincipal{
    background-color: #ffffff;
    color: black;
}


.colorSecundario{
    background-color: #f8f8f8;
    background-color: #f7f9fb;
}

.seleccionado{
    color: red
}

.bordeSeleccionado{
    border-bottom:2px solid #76c4f5 
}


.border-color-tema{
    border: 2px solid #f2f2f2;
    border: 2px solid #098dfd;
    border: 2px solid #6c7ae0;
}

.bg-color-tema{
    background-color: #6c7ae0;
}
#contenedor[data-v-3c8ff4] {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.texto[data-v-3c8ff4] {
  color: black;
}
a[data-v-3c8ff4] {
  text-decoration: none;
}
.boton[data-v-3c8ff4] {
  margin: 10px 0;
}
*[data-v-549ed5]{
  font-family: 'Montserrat';
  box-sizing: border-box !important;
}
#contenedora[data-v-549ed5]{
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-wrap: nowrap;
}
#sidebar[data-v-549ed5]{
  background-color: green;
  height: 100vh;
  position: fixed;
  width: 150px;
}
#main[data-v-549ed5]{
  width: 100%;

  margin-left: 150px;
}
#contenedor[data-v-1f47a9] {
  width: 100%;
  height: 50px;
  border-bottom: 0.5px solid #f8f8f8;
  box-shadow: 0 1px 20px -2px #dbdbdb;
}
#opciones[data-v-1f47a9] {
  display: flex;
  cursor: pointer;
  align-items: center;
  height: 100%;
}
#opciones > div[data-v-1f47a9] {
  margin: 0 20px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 50px;
}
/*       flex    */ 

.flex{
    display: flex
}



.text-left{
    text-align: left;
}


/*    margenes     */

.padding-x-20{
    padding-left: 20px;
    padding-right: 20px;
}
.padding-x-10{
    padding-left: 10px;
    padding-right: 10px;
}
.margin-y-20{
    margin-top: 20px;
    margin-bottom: 20px;
}

.margin-b-20{
    margin-bottom: 20px;
}
.margin-t-20{
    margin-top: 20px;
}


.margin-left-40{
    margin-left: 40px;
}

.margin-left-30{
    margin-left: 30px;
}

.margin-left-20{
    margin-left: 20px;
}
.margin-left-10{
    margin-left: 10px;
}

.margin-left-auto{
    margin-left: auto;
}


.margin-right-40{
    margin-right: 40px;
}

.margin-right-30{
    margin-right: 30px;
}

.margin-right-20{
    margin-right: 20px;
}
.margin-right-10{
    margin-right: 10px;
}

.margin-right-auto{
    margin-right: auto;
}

/*  padding   */ 

.padding-x-20{
    padding-left: 20px;
    padding-right: 20px;
}
.padding-x-10{
    padding-left: 10px;
    padding-right: 10px;
}
.padding-y-20{
    padding-top: 20px;
    padding-top: 20px;
}
.padding-y-10{
    padding-top: 10px;
    padding-top: 10px;
}


/*     Ancho    */

.width-80{
    width: 80%;
}

.width-100{
    width: 100%;
}

.width-20px{
    width: 20px;
}
.width-40px{
    width: 40px;
}

/*    Anchura */




/*   CURSORES     */ 

.cursor-pointer{
    cursor: pointer;
}


/*       BORDER LINES             */



.divisor{
    border: 1px solid #e0e0e0;
    width: 90%;
    margin-bottom: 20px;
}

.rainbow-box {

    border: 2px solid transparent;
    border-image: linear-gradient(to bottom right, #b827fc 0%, #2c90fc 25%, #b8fd33 50%, #fec837 75%, #fd1892 100%);
    border-image-slice: 1;
    cursor: pointer;
}




/*      HEADERS         */



.bloque-titulo{
    width: 100%;
    min-height: 65px;
    max-height: 64px;
    background-color: white;

}

.sombra{
    box-shadow: 0 1px 20px -2px #dbdbdb;
}



.btn-rojo{
    background-color: #e66f66;
    margin: 15px 10px;
    padding: 8px 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
    
}

.btn-azul{
    background-color: #6a7cab !important;
    color: white;
    margin: 15px 10px;
    padding: 8px 20px;
    border: 0;
    outline: 0;
    border-radius: 10px;
}
#paginacion[data-v-c92a3d] {
  display: flex;
}
#contenedor[data-v-c92a3d] {
  width: 100%;
}
caption[data-v-c92a3d] {
  color: white;
  font-size: 1.5em;
}
table[data-v-c92a3d] {
  -webkit-box-shadow: 10px 14px 63px -49px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 10px 14px 63px -49px rgba(0, 0, 0, 0.75);
  box-shadow: 10px 14px 63px -49px rgba(0, 0, 0, 0.75);
  border-collapse: collapse;
  width: 100%;
}
table td[data-v-c92a3d], table th[data-v-c92a3d] {
  height: 50px;
  padding: 8px;
  text-align: start;
}
table tr[data-v-c92a3d] {
  margin-left: 50px !important;
}
table th[data-v-c92a3d] {
  background-color: #6c7ae0;
  color: #dedfe0;
}
table td[data-v-c92a3d] {
  font-weight: 300 !important;
  border-left: 0;
  border-right: 0;
  cursor: pointer;
}
table thead[data-v-c92a3d] {
  border-radius: 20px;
}
table tbody[data-v-c92a3d] {
  overflow: scroll;
  height: 100px !important;
}
table tbody tr[data-v-c92a3d] {
  background-color: #F8F6FF;
}
table tbody tr[data-v-c92a3d]:nth-child(even) {
  background-color: #FFFFFF;
}
#scrollbar[data-v-c92a3d] {
  overflow: scroll;
  height: 100px !important;
}
#titulo[data-v-1e1c2e] {
  margin-bottom: 20px;
  height: 65px;
  padding: 0 20px;
  background-color: white;
  width: 100%;
  display: flex;
  box-sizing: border-box;
  box-shadow: 0 1px 20px -2px #dbdbdb;
}
#contenedor-tabla[data-v-10e949] {
  width: 100%;
}
.contenedor-filauno[data-v-10e949] {
  width: 50%;
}
.contenedor-fila[data-v-10e949] {
  width: 100%;
}
.contenedor-filaprincipal[data-v-10e949] {
  width: 100%;
  margin: 5px 10px;
}
.contenedor-input[data-v-10e949] {
  margin-top: 10px;
  display: flex;
}
.contenedor-input input[data-v-10e949] {
  width: 100%;
}
.verde[data-v-10e949] {
  padding-top: 5px;
  outline: 0;
  height: 60%;
}
.verde[data-v-10e949]:focus {
  padding-top: 5px;
  border: 1px solid green;
  height: 60%;
}
.rojo[data-v-10e949] {
  padding-top: 5px;
  height: 60%;
  outline: 0;
  border: solid red;
}
.rojo[data-v-10e949]:focus {
  padding-top: 5px;
  border: solid red;
  height: 60%;
}
.inputUnit[data-v-10e949] {
  margin: 5px;
  border-radius: 4px;
  height: 25px;
  border: solid #4f4669;
}
input[type=number][data-v-10e949]::-webkit-outer-spin-button, input[type=number][data-v-10e949]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type=submit][data-v-10e949] {
  background: #398AD7;
  padding: 15px 50px;
  color: white;
  width: auto;
  margin-left: auto;
  cursor: pointer;
}
input[data-v-10e949] {
  margin: 10px 0 15px 0;
  padding: 5px 10px;
  width: 100%;
  outline: none;
  border: 1px solid #bbb;
  border-radius: 20px;
  display: inline-block;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  -webkit-transition: 0.2s ease all;
  -moz-transition: 0.2s ease all;
  -ms-transition: 0.2s ease all;
  -o-transition: 0.2s ease all;
  transition: 0.2s ease all;
}
.contenedor[data-v-e2e94f] {
  width: 100%;
  display: flex;
}
#contenedor-input[data-v-e2e94f] {
  border-radius: 50px;
  width: 100%;
  display: flex;
  align-items: center;
}
#contenedor-input input[data-v-e2e94f] {
  padding-left: 20px;
  outline: none;
  height: 90%;
  width: 85%;
  border-radius: 40px;
  margin-right: 20px;
}
#lupa[data-v-e2e94f] {
  margin-left: auto;
  border-radius: 30px;
  width: 35px;
  height: 35px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#lupa img[data-v-e2e94f] {
  width: 25px;
}
[type=radio][data-v-1d8d32]:checked,
[type=radio][data-v-1d8d32]:not(:checked) {
  position: absolute;
  left: -9999px;
}
[type=radio]:checked + label[data-v-1d8d32],
[type=radio]:not(:checked) + label[data-v-1d8d32] {
  position: relative;
  padding-left: 28px;
  cursor: pointer;
  line-height: 20px;
  display: inline-block;
  color: #666;
}
[type=radio]:checked + label[data-v-1d8d32]:before,
[type=radio]:not(:checked) + label[data-v-1d8d32]:before {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 20px;
  height: 20px;
  border: 1px solid #ddd;
  border-radius: 100%;
  background: #fff;
}
[type=radio]:checked + label[data-v-1d8d32]:after,
[type=radio]:not(:checked) + label[data-v-1d8d32]:after {
  content: "";
  width: 12px;
  height: 12px;
  background: #F87DA9;
  position: absolute;
  top: 4px;
  left: 4px;
  border-radius: 100%;
  -webkit-transition: all 0.2s ease;
  transition: all 0.2s ease;
}
[type=radio]:not(:checked) + label[data-v-1d8d32]:after {
  opacity: 0;
  -webkit-transform: scale(0);
  transform: scale(0);
}
[type=radio]:checked + label[data-v-1d8d32]:after {
  opacity: 1;
  -webkit-transform: scale(1);
  transform: scale(1);
}
.card[data-v-d3f961] {
  padding: 20px 0 20px 0;
  box-sizing: border-box;
  width: 100%;
}
#sidebar[data-v-d3f961] {
  width: 25%;
  height: 200px;
}
#main[data-v-d3f961] {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-tabla[data-v-d3f961] {
  width: 70%;
}
#sidebar[data-v-f884e7] {
  width: 25%;
  height: 200px;
}
#main[data-v-f884e7] {
  padding: 20px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.contenedor-tabla[data-v-f884e7] {
  width: 70%;
}

/*# sourceMappingURL=/index.css.map */